*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/aFilechooser/
/appframework/
/cordovalib/
/facesdk/
/filemanage/
/imagepickerModule/
/pdfviewer/
/photoviewer/
/zxinglibrary/
/captures
.externalNativeBuild
aFilechooser/build/
appframework/build/
cordovalib/build/
imagepickerModule/build/
photoviewer/build/
pdfviewer/build/
aFilechooser/
appframework/
cordovalib/
imagepickerModule/
photoviewer/
pdfviewer/
zxinglibrary/
facesdk/
filemanage/
